:root {
    --side-padding: .5rem;
    --data-font-size: 2rem;
}
body, .body-container, form, .humidity {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.body-container {
    justify-content: space-between;
}

.form-div {
    padding: 5rem;
}

.form {
    flex-flow: row nowrap;
    padding: 0 var(--side-padding);
    border: .5px solid black;
    border-radius: 15px;
    font-size: 1.2rem;
}

.form > p > input {
    height: 2rem;
    padding: 0 var(--side-padding);
    border: 0px;
}

.data-container {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0.3rem;
    padding: 2rem 5rem;
    width: clamp(400px, 30rem + 100%, 1500px);
    height: 80%;
}
.condition {
    text-align: center;
    font-size: var(--data-font-size);
}
.humidity {
 align-items: flex-start;
}
.humidity p {
    font-size: var(--data-font-size);
}
