:root {
  --side-padding: 0.5rem;
  --data-font-size: 2rem;
}
body {
  transition-behavior: allow-discrete;
  transition: background 1.5s ease-in;
  @starting-style {
    background-image: none;
  }
}
body,
.body-container,
form,
section div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.body-container {
  justify-content: space-between;
}

.form-div {
  padding: 5rem;
}

.form {
  flex-flow: row nowrap;
  padding: 0 var(--side-padding);
  border: 0.5px solid black;
  border-radius: 15px;
  font-size: 1rem;
}

.form > p > input {
  height: fit-content;
  padding: 0.5rem var(--side-padding);
  border: 0px;
  background-color: transparent;
}

input[type="image"] {
  width: 2rem;
  overflow: visible;
  display: flex;
}

.data-container {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.3rem;
  padding: 2rem 5rem;
  width: clamp(400px, 30rem + 100%, 1500px);
  height: 80%;
  transition:
    transform 0.5s ease-out;
  overflow-y: scroll;
  transition-behavior: allow-discrete;
}

.data-container.is-open {
  transform: translateY(0);
  display: block;
  @starting-style {
    transform: translateY(500px);
  }
}

.average-condition {
  text-align: center;
  font-size: var(--data-font-size);
}

section div {
  justify-content: flex-start;
  flex-flow: row nowrap;
  padding: 0.5rem;
}

table {
  width: 100%;
  /* border: 2px solid black; */
  border-collapse: collapse;
}
thead th {
  border-bottom: 5px solid rgba(250, 235, 215, 0.8);
  padding: 0.5rem;
}

tbody td {
  text-align: center;
  padding: 0.5rem;
}

tbody > tr:nth-child(odd) > td {
  background-color: rgba(250, 235, 215, 0.6);
}
